body{
    background-color: rgb(128, 128, 128);
    height: 1000px;;
}

#Title{
    color: black;
    font-size: 35pt;
    background-color:rgb(64, 66, 68) ;
    font-family: monospace;
    text-align: center;
}
#TitleM{
    color: black;
    font-family: monospace;
    border-bottom: 3px;
    border-color: rgb(64, 66, 68);
    border-style: dotted;
    border-top: 0ch;
    border-left: 0ch;
    border-right: 0ch;
}
#SM{
    font-family: monospace;
    font-size: 15pt;
    width: 70%;
}