div#Title1 {
    color: #f5f5dc;
    font: normal 30pt sans-serif;
    text-align: center;
  }
  body {
    background-color: #0fc96c;
    color: #f5f5dc;
  }
  #Foto {
    position: absolute;
    top: 90px;
  }
  div#Ap1 {
    color: #f5f5dc;
    font: normal 18pt Arial;
    position: absolute;
    top: 58px;
  }
  div#Ap2 {
    color: #f5f5dc;
    font: normal 15pt Arial;
    position: absolute;
    top: 700px;
  }
  div#Des {
    font: normal 18pt Arial;
    position: absolute;
    top: -20px;
  }
  div#redes {
    position: absolute;
    top: 1000px;
  }
  #in {
    position: absolute;
    top: 400px;
  }
  #Desc1 {
    position: absolute;
    top: 460px;
  }
  div#Hab {
    font: normal 18pt Arial;
    position: absolute;
    top: 850px;
  }
  div#Hab2{
    position: absolute;
    top: 870px;
    font: normal 13pt Arial;
  }
  #Desc2 {
    position: absolute;
    top: 480px;
  }
  #Lin{
    position: absolute;
    top: 1020px;
    font: normal 13pt Arial; 
  }
  #Ins{
    position: absolute;
    top: 1040px;
    font: normal 13pt Arial; 
  }
  #Git{
    position: absolute;
    top: 1060px;
    font: normal 13pt Arial; 
  }
  #Desc3 {
    position: absolute;
    top: 500px;
  }